@media screen and (max-width:576px) {
    
    /* nav-bar */

    .nav-bar, .nav-bar ul{
        flex-direction: column;
    }
    .nav-bar{
        row-gap: 40px;
    }
    .nav-bar ul{
        align-items: center;
        row-gap:20px;
    }


    /* hero-area */

    .hero-area .hero-area-content h1, .hero-area .hero-area-content p{
        width: 100%;
    }

    
    /* features area */

    .features{
        flex-direction: column-reverse;
        row-gap: 50px;
    }

    .features .features-content{
        width: 100%;
        text-align: center;
    }

    .features .features-image{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .features .features-image img{
        justify-self: center;
        border: 2px solid var(--button);
        border-radius: 8px;
    }

}