/*===============
    COMMON CSS 
================*/

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}


/*====================== 
    Multiple Use CSS 
=======================*/

:root{
    --dark1:rgb(19, 19, 19);
    --dark2:rgb(66, 66, 66);
    --dark3:rgb(114, 114, 114);
    --background:rgba(255, 144, 14, 0.1);
    --button:rgb(255, 144, 14);
    --white:rgb(255,255,255);
}

.width{
    max-width: 1250px;
}

.flex{
    display: flex;
}

.margin{
    margin: 0 auto;
}

h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark1);
}

h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark1);
    margin-bottom: 10px;
}

p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark3);
}

.btn {
    padding: 20px 24px;
    background-color: var(--button);
    border: none;
    border-radius: 8px;
}

a{
    text-decoration: none;
}



/*==============
    Main CSS
===============*/

/*================ Header area ================*/

header{
    background-color: var(--background);
    padding-bottom: 45px;
}


/* nav bar */

.nav-bar{
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.nav-bar ul{
    column-gap: 50px;
}

.nav-bar ul li{
    list-style: none;
}

.nav-bar ul li a{
    font-size: 1.15rem;
    font-weight: 500;
    color: var(--dark2);
}


/* hero area */

.hero-area .hero-area-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.hero-area .hero-area-content h1{
    width: 50%;
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark1);

}

.hero-area .hero-area-content p{
    width: 70%;
}

.hero-area .hero-area-content div .btn a{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
}

.hero-area-image img{
    width: 100%;
}


/*================ Main area ================*/

/* features section */

.features, .features2{
    max-width: 1200px;
    margin-top: 5rem;
    column-gap: 70px;
}

.features .features-image{
    width: calc(60% - 24px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.features .features-content{
    width: 40%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.span1{
    font-weight: 500;
    color: var(--dark3);
}

.span2{
    color: var(--button);
}

.features .features-content div .btn a{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
}



/* features 2 section */

.features2{
    justify-content: space-between;
    margin-bottom: 100px;
}

.features2 .features2-content{
    width: 45%;
    flex-direction: column;
    row-gap: 25px;
}

.features2 .features2-content h2{
    width: 80%;
    border-left: 5px solid var(--button);
    padding-left: 20px;
}

.features2 .features2-content .cards{
    flex-direction: column;
    gap: 20px;
}

.features2 .features2-content .cards .card{
    padding: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
}

.features2 .features2-content .cards .card p{
    font-size: 1rem;
}

.features2 .features2-image{
    position: relative;
    width: 50%;
}

.features2 .features2-image .image img{
    width: 100%;
}

.features2 .features2-image .experience{
    width: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: var(--button);
    color: var(--white);
    border-radius: 8px;
    position: absolute;
    bottom: 7%;
    left: -10%;
}

.experience h1{
    font-size: 3rem;
    font-weight: 700;
}

.experience h5{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}


/* facts section */

.facts{
    flex-direction: column;
    gap: 100px;
    margin-bottom: 100px;
}

.facts .facts-content h2{
    margin-bottom: 24px;
}

.facts .facts-content p{
    width: 50%;
}

.facts .achievement{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.facts .achievement .box{
    height: 240px;
    width: 240px;
    border: 1px solid var(--button);
    border-radius: 8px;
    padding: 45px 32px 60px 32px;
}

.facts .achievement .box img,
.facts .achievement .box strong,
.facts .achievement .box span{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.facts .achievement .box strong{
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark2);
    margin: 10px 0;
}

.facts .achievement .box span{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark3);
}


/* Sponsors area*/

.sponsors{
    margin-bottom: 200px;
}

.sponsors h2{
    text-align: center;
    margin-bottom: 1.5rem;
}

.sponsors p{
    width: 50%;
    text-align: center;
    margin-bottom: 4rem;
}

.sponsors .logo{
    justify-content: space-between;
    align-items: center;
    filter: grayscale(100%);
}


/* footer area */

footer{
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    padding: 2.5rem;
    border-radius: 8px;
}
footer p{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--dark2);
    text-align: center;
}